.container{
    /* Step 1: Set display to grid */
      display:grid;
      width: 90vw;
      margin:auto;
   /* Step 2: setup rows amd columns */
      grid-template-rows: 100px 600px;
      grid-template-columns: repeat(3, 1fr);
      border: 1px solid yellow;
   /* Step : setup named grid areas */
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "feat feat feat feat feat feat feat feat"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
  }
  .box{
    border: 1px solid red;
    background: #F8FA9D;
    }
  .header{
    /* Set elements grid-area here */
    grid-area:hd;
  }

  .footer{
    /* Set elements grid-area here */
    grid-area:ft;
  }
  .feature{
    /* Set elements grid-area here */
    grid-area:feat;
  }
  .content{
    /* Set elements grid-area here */
    grid-area:main;
  }