.header {
  /* row start/column start/ row end/ column end */
  grid-area: hd;
  border: 1px solid #fffff8;
  box-shadow: 2px 2px 10px #f05545;
  border-radius: 30px;
  margin: 1%;
}
.flex_container_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.socialMediaGrid {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 40px 40px 40px;
  height: 100%;
  text-align: center;
}
.button {
  background-color: inherit;
  font-size: inherit;
  font: inherit;
  color: inherit;
  text-shadow: inherit;
  border-radius: 10px;
}
#home {
  margin: 4px;
}
#youtubeBox {
  background-image: url("../pics/youtube.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
#facebookBox {
  background-image: url("../pics/fb.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
#instagramBox {
  background-image: url("../pics/instagram.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
