.container{
    /* Step 1: Set display to grid */
      display:grid;
      height:98vh;
      margin: 0mm;
   /* Step 2: setup rows amd columns */
      /* grid-template-columns: repeat(3, 1fr); */
      grid-template-rows: 135px 100px 1fr 120px 75px;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "hd"
      "sd"
      "main"
      "sdr"
      "ft";
    /* border: 2px solid #bc477b; */
  }
  body{
    background: #000;
    color: #fffff8;
    font-size:24px;
  }
  h1 {
    font-weight:bold;
    font-size: 2.5rem;
    z-index:1;
  }
  h2 {
    font-weight:bold;
    font-size: 2rem;
    z-index:1;
  }
  h3 {
    font-weight:bold;
    font-size: 1.8rem;
    vertical-align: top;
    z-index:1;
  }
  .box{
    /*border: 1px solid black*/;
  }
  .header{
    /* row start/column start/ row end/ column end */
    grid-area: hd;
  }
  .footer{
    grid-area: ft;  
    background: #560027;
  }
  .sidebar{
    grid-area: sd;
    background: #560027;
  }
  .ads{
    grid-area: sdr;
    background: #7f0000;
  }
  .content{
    grid-area: main;
    /*background: #444;*/
    background-image: url('../pics/main_background_dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
  #sideBarBox{
    border: 1px solid black;
  }
  #nestedHeaderGrid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 35px;
    text-align: center;
  }
  #headerBox_top{
    background: #fff /*#bc477b;*/
  }
  #headerBox_bottom{
    background: #f05545;
  }
  #nestedTopHeaderGrid{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 390px 1fr 110px 130px;
    height:100%;
    text-align: center;
  }
  #topHeaderBox_1{
    color: #b71c1c;
  }
  #socialMediaGrid{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50px 50px 50px;
    height:100%;
    text-align: center;
  }
  #topHeaderBox_3{
    background-image: url('../pics/HF_Logo_new.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
  #topHeaderBox_4{
    background: #b71c1c;
  }
  #youtubeBox{
    background-image: url('../pics/youtube.jpg');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
  }
  #facebookBox{
    background-image: url('../pics/fb.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  #instagramBox{
    background-image: url('../pics/instagram.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
  #nestedSideMenuGrid{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    height:100%;
    text-align: center;
  }
/* If media screen is wide enough and switch to a different layout*/
@media(min-width:1100px){
  .container{
    /* Step 1: Set display to grid */
    display:grid;
    height:98vh;
    margin: 0mm;
 /* Step 2: setup rows amd columns */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: 135px 1fr 75px;
    grid-template-columns: 175px 1fr 160px;
    grid-template-areas: 
    "hd hd hd"
    "sd main sdr"
    "ft ft ft";
  }
  #nestedTopHeaderGrid{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 390px 1fr 110px 160px;
    height:100%;
    text-align: center;
  }
  #nestedSideMenuGrid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 100%;
    height:100%;
    text-align: center;
  }
}
@media(min-width:1600px){
  .container{
    /* Step 1: Set display to grid */
    display:grid;
    height:98vh;
    margin: 0mm;
 /* Step 2: setup rows amd columns */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: 135px 1fr 75px;
    grid-template-columns: 220px 1fr 230px;
    grid-template-areas: 
    "hd hd hd"
    "sd main sdr"
    "ft ft ft";
  }
  #nestedTopHeaderGrid{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 390px 1fr 110px 230px;
    height:100%;
    text-align: center;
  }
  #nestedSideMenuGrid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 100%;
    height:100%;
    text-align: center;
  }
}