@import "header.css"; /* import header styles */
@import "nav.css"; /* import navigation menu styles */
@import "cards.css"; /* import content styles */
@import "footer.css"; /* import footer styles */
@import "article.css";

body {
  background: #560027; /*#000;*/
  color: #fffff8;
  font-size: 1rem;
  background-image: url("../pics/abanico_bw.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid_container {
  /* Step 1: Set display to grid */
  display: grid;
  height: 98vh;
  margin: 0mm;
  /* Step 2: setup rows amd columns */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-rows: 130px 70px 1fr 75px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hd"
    "nav"
    "main"
    "ft";
  /* border: 2px solid #bc477b; */
}
h2 {
  font-weight: bold;
  text-shadow: 2px 2px 10px #f05545;
  font-size: 1.4rem;
}
h3 {
  font-weight: bold;
  text-shadow: 2px 2px 10px #f05545;
  font-size: 1.3rem;
}
h1 {
  font-weight: bold;
  text-shadow: 2px 2px 10px #f05545;
  font-size: 2rem;
}
.box {
  /*border: 1px solid black;*/ 
}
/* If media screen is wide enough and switch to a different layout*/
